@model MyInstaMVC.Models.RegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="MainWrapper">
    <h2 class="text-center">Регистрация</h2>
    <div class="text-danger">@ViewBag.Message</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />      
            <div class="col-md-4 mx-auto"><img src="~/Content/Images/logo.png" class="mx-auto d-block" style="max-width: 100px"/></div>
            <div class="form-group"> 
                <h5 class="text-center mx-auto">Логин</h5>
                <div class="col-md-3 mx-auto">
                    @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 class="text-center mx-auto">Пароль</h5>
                <div class="col-md-3 mx-auto">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 class="text-center mx-auto">Повторить пароль</h5>
                <div class="col-md-3 mx-auto">
                    @Html.EditorFor(model => model.RetryPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RetryPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 class="text-center mx-auto">Укажите ваш Никнейм</h5>
                <div class="col-md-3 mx-auto">
                    @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h5 class="text-center mx-auto">Укажите дату вашего рождения</h5>
                <div class="col-md-3 mx-auto">
                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.SharedProfile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3 mx-auto">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SharedProfile)
                        @Html.ValidationMessageFor(model => model.SharedProfile, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @{
                List<SelectListItem> genderList = new List<SelectListItem>();//Список значений для DDL

                genderList.Add(new SelectListItem() { Text = "Мужской", Value = "Man" });
                genderList.Add(new SelectListItem() { Text = "Женский", Value = "Girl" });


            }
            <div class="form-group">
                <h5 class="text-center mx-auto">Укажите ваш пол</h5>
                <div class="col-md-1 mx-auto">
                    <div class="checkbox">
                        @Html.DropDownListFor(model => model.Gender, genderList)
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-2 mx-auto text-center">
                    <input type="submit" value="Регистрация" class="btn btn-success" />
                </div>
            </div>
        </div>
                }   
</div>